<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="./vue.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <title>Fake Store</title>
</head>

<body>
    <div id="app">
        <section class="container">
            <header>
                <h1>Fake Store</h1>
                <nav>
                    <button @click="carrinhoAtivo = true"><img class="carrinho" src="./images/carrinho.svg" alt=""></button>
                    <button><img class="avatar" src="./images/avatar.png" alt=""></button>
                </nav>
            </header>
            <section class="main">
                <aside>
                    <h2>Categorias</h2>
                    <ul class="lista-categorias">
                        <li class="categorias-itens" @click="fetchProdutos">All products</li>
                        <li class="categorias-itens" v-for="categoria in categorias" :key="categoria" @click="fetchProdutosCategorias(categoria)">{{categoria}}</li>
                    </ul>
                </aside>
                <div class="produtos">
                    <h2 class="titulo-lista">{{categoria}}</h2>
                    <ul class="lista-produtos">
                        <li class="produto-item" v-for="produto in produtos" :key="produto.id" @click="abrirModal(produto.id)">
                            <img class="produto-imagem" :src="produto.image" :alt="produto.nome">
                            <h2>{{produto.title}}</h2>
                            <p><img src="./images/star.jpg" class="avaliacao-imagem" alt="">{{produto.rating.rate}}</p>
                            <span>{{produto.price | formatarNumero}}</span>
                        </li>
                    </ul>
                </div>
            </section>
        </section>

        <section class="produto-modal" v-if="produtoEscolhido">
            <div class="produto-container">
                <div class="imagem-modal">
                    <img class="produto-imagem imagem-modal" :src="produto.image" :alt="produto.nome">
                </div>
                <div class="infos-modal">
                    <button class="fechar-modal" @click="fecharModal">X</button>
                    <h2 class="titulo-modal">{{produto.title}}</h2>
                    <p class="descricao-modal">{{produto.description}}</p>
                </div>
                <span class="preco-modal">$ {{produto.price}}</span>
                <button class="adicionar-carrinho" @click="adicionarCarrinho">Add to Cart</button>
            </div>
        </section>

        <section class="carrinho-modal" v-if="carrinhoAtivo">
            <div class="carrinho-container">
                <button class="fechar-carrinho" @click="carrinhoAtivo = false">X</button>
                <ul class="lista-carrinho">
                    <li class="item-carrinho" v-for="produto in carrinho">
                        <img class="img-carrinho" :src="produto.image" alt="">
                        <p class="nome-carrinho">{{produto.title}}</p>
                        <p class="preco-carrinho">{{produto.price | formatarNumero}}</p>
                        <button class="remover-carrinho" @click="removerItemdoCarrinho(produto.id)">Remover</button>
                    </li>
                </ul>
                <div class="finalizar-compra">
                    <p>Total: {{totalCarrinho | formatarNumero}}</p>
                    <button>Finalizar Compra</button>
                </div>
            </div>
        </section>
    </div>
    <script src="./app.js"></script>
</body>

</html>