*{
    font-family: monospace;
    box-sizing: border-box;
}

h1, h2, h3, p, ul, li, button, a{
    margin: 0px;
    padding: 0px;
}
ul{
    list-style: none;
}
img{
    display: inline-block;
    max-width: 100%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/*HEADER*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    border-bottom: 1px solid #ccc;
}
nav{
    display: flex;
    gap: 20px;
}
.carrinho, .avatar{
    width: 50px;
    padding: 10px;
}
.carrinho:hover, .avatar:hover{
    border-bottom: 1px solid black;
}

/*Main*/
.main{
    padding-top: 40px;
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 80px;
}

/*lado - lista de categorias*/
aside{
    max-width: 200px;
}
.categorias-itens{
    margin-top: 20px;
    border-bottom: 1px solid #555555;
    padding-bottom: 5px ;
    text-transform: capitalize;

}
.categorias-itens:hover{
    border-bottom: 2px solid black;
    cursor: pointer;;
}
/*Produtos*/
.titulo-lista{
    margin-bottom: 20px;
    text-transform: capitalize;
}
.lista-produtos{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    gap: 50px 150px;
}
.produto-item{
    max-width: 200px;
    display: grid;
    justify-items: center;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
}
.produto-item:hover{
    border: 1px solid black;
}
.produto-imagem{
    max-width: 80px;
    margin-bottom: 10px;
}
.produto-item h2{
   text-align: center;
    font-size: 1.125rem;
    margin-bottom: 10px;
}
.produto-item p{
    text-align: center;
    font-size: 1rem;
    margin-bottom: 10px;
}
.avaliacao-imagem{
    max-width: 10px;
    margin-right: 5px;
}
.produto-item span{
    font-size: 1.125rem;
    text-align: center;
    font-weight: bold;
}

/*Modal Produto*/
.produto-modal{
    position: fixed;
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(0,0,0,.2);
    
}

.produto-container{
   background-color: antiquewhite;
   max-width: 800px;
   margin: 0 auto;
   padding: 40px;
   display: grid;
   grid-template-columns: 1fr auto;
   align-items: flex-end;
   align-self: center;
   gap: 5px 20px;
   box-shadow: 0px 3px 4px rgba(0,0,0,.1), 0px 4px 10px rgba(0,0,0,.2);
}
.imagem-modal{
    grid-row: 1 / 3;
}
.infos-modal{
    position: relative;
}
.fechar-modal{
    position: absolute;
    padding: 10px 14px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.125rem;
    top: -60px;
    right: -55px;
    box-shadow: 0px 3px 4px rgba(0,0,0,.1), 0px 4px 10px rgba(0,0,0,.2);
    cursor: pointer;
}
.fechar-modal:hover{
    padding: 11px 15px;
}
.infos-modal h2{
    margin-bottom: 20px;
}
.preco-modal, .adicionar-carrinho{
    grid-column: 2;
    justify-self: self-end;
}
.preco-modal{
    font-weight: bold;
    font-size: 1.5rem;
}
.adicionar-carrinho{
    background: #111;
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 5px;
    cursor: pointer;
}
.adicionar-carrinho:hover{
    background: #555555;
}